:root {
  background-color: var(--navy);

  /* Loading Page */
  --dark-navy: #020c1b;
  /* Main BG */
  --navy: #0a192f;
  /* Containers */
  --slight-navy: #051530;
  --light-navy: #112240;
  /* Navbar Links Container */
  --lightest-navy: #233554;
  /* Box shadow */
  --navy-shadow: rgba(5, 21, 48, 0.7);
  /* Text */
  --white: #e6f1ff;
  --darker-white: #ccd6f6;
  --darkest-white: #a8b2d1;
  --grey: #8892b0;
  --dark-grey: #495670;
  /* Bold */
  --title: #949bff;
  --tint: #717aff8a;
  /* Form Colors */
  --green: #0d4e0d;
  --red: #e52121;

  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

  --fs-xxs: 12px;
  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 20px;
  --fs-xl: 22px;
  --fs-xxl: 24px;
  --fs-heading: 32px;

  --nav-height: 70px;
  --min-width: 320px;
  --max-width: 1400px;
  --border-radius: 4px;
  --container-border-radius: 10px;

  --transition-ease: all 0.5s ease;
  --transition-ease-faster: all 0.2s ease;
  --transition-ease-in-out: all 0.5s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--lightest-navy);
  color: var(--darker-white);
}

::-webkit-scrollbar {
  background: var(--navy);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--lightest-navy);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-navy);
}

/* .fade-in {
  opacity: 0;
  transform: translateY(5vh);
  visibility: hidden;
  transition: opacity 800ms ease-out, transform 600ms ease-out,
  visibility 800ms ease-out;
  will-change: opacity, transform, visibility;
}
.visible {
  opacity: 1;
  transform: none;
  visibility: visible;
} */
